<div class='group'>
  <h3>Word: <%= @definition.word.name %></h3>
  <h3>Definition: <%= @definition.name %></h3>
</div>


<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post" class="form-group">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Redefine word</label>
  <input class ="form-control" id="name" name="name" type="text">

  <button class="btn btn-success" type="submit">Update</button>
</form>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button class="btn btn-danger" type="submit">Delete definition</button>
</form>

<div class='center'>
  <a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.name %></a>
</div>